<nav class="navbar navbar-relative rnavbar-ct-transparent" role="navigation-demo" id="register-navbar">
    <div ng-controller="HeaderController" ng-include src="'/project56/client/views/header/header.view.html'">

    </div>

</nav>
<div class="wrapper">
    <div class="profile-background">
        <div class="filter-black"></div>
    </div>
    <div class="profile-content section-nude">
        <div class="container">
            <div class="row owner">
                <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                    <div class="avatar">
                        <img src="/Project56/client/views/assets/paper_img/chet_faker_2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                    <div class="name text-center" >
                        <h4>{{user.username}}</h4>
                        <!--<h4 class="text-center">-->
                            <!--{{user.firstname}}-->
                            <!--{{user.lastname}}-->
                            <!--{{user.email}}-->
                            <!--{{user.city}}-->
                            <!--{{user.state}}-->
                        <!--</h4>-->

                    </div>
                </div>

            </div>
            <!--<div class="row">-->
                <!--<table>-->
                    <!--<thead>-->

                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--Username: sdaskdbakskjbdkjs-->
                    <!--</tr>-->
                    <!--<td>-->
                        <!--sdas s l-->
                        <!--{{user.username}}-->
                    <!--</td>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <!--<p>An artist of considerable range, Chet Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>-->
                    <!--<p>{{user.aboutme}}</p>-->
                    <br />
                    <table class="table">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td style="border-top: none">
                                FirstName
                            </td>
                            <td style="border-top: none">
                                {{user.firstname}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none">
                                Lastname
                            </td>
                            <td style="border-top: none">
                                {{user.lastname}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none">
                                Email
                            </td>
                            <td style="border-top: none">
                                {{user.email}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none">
                                City:
                            </td>
                            <td style="border-top: none">
                                {{user.city}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none">
                                State:
                            </td>
                            <td style="border-top: none">
                                {{user.state}}
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <btn ng-click="userEdit()" class="btn"><i class="fa fa-cog"></i> Edit</btn>

                    <div ng-if="userdetailsedit">
                        <br>
                            <table class="table table-bordered">
                                <thead>

                                </thead>
                                <tbody>
                                <tr>
                                    <td style="padding-top: 18px">First Name</td>

                                    <td>
                                        <input type="text"  class="form-control" ng-model="newfirstname">
                                    </td>

                                </tr>
                                <tr>
                                    <td style="padding-top: 18px">last Name</td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="newlastname">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 18px">Email</td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="newemail">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 18px">City</td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="newcity">
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding-top: 18px">state</td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="newstate">
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <button ng-click="saveUserEdit(newlastname,newfirstname,newemail,newcity,newstate)" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>

                                        <button ng-click="cancelEdit()" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div>
                <button type="button" class="btn btn-default" ng-click="isCollapsedtrips = !isCollapsedtrips">My Trips</button>
                <hr>
                <div ng-if="isCollapsedtrips">
                    <div>
                        <tr>
                            <button ng-click="addTrip()" type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon" aria-hidden="true"></span> New Trip
                            </button>

                        </tr>
                        <br>
                        <div ng-if="addNewTrip">
                            <tr>
                                <div>
                                    <br>
                                    <label for="title">Title:</label>
                                    <input ng-model="newtitle" type="text" class="form-control" id="title">
                                </div>

                            </tr>
                            <tr>
                                <div>
                                    <label for="usr">Summary:</label>
                                    <input ng-model="newsummary" type="text" class="form-control" id="usr">
                                </div>

                            </tr>
                            <tr>
                                <div>
                                    <label for="comment">Experience:</label>
                                    <textarea ng-model="newcontent" class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </tr>
                            <tr class="col-sm-1">
                                <button ng-click="saveTrip(newtitle,newsummary,newcontent)" type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon" aria-hidden="true"></span> Save New Trip
                                </button>

                            </tr>




                        </div>
                        <div>
                            <tr>
                                <td colspan="2">
                                    <hr style=" color:black; height:4px; background-color:black" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <h4>Your Trips</h4>
                                </th>
                            </tr>

                            <table class="table table-bordered">
                                <thead>
                                </thead>
                                <tbody>
                                <tr ng-repeat="trip in trips">
                                    <td style="padding-top: 18px"><a href="#/trip/{{trips[$index]._id}}">{{trip.title}}</a></td>
                                    <td style="padding-top: 18px">{{trip.summary}}</td>
                                    <td class="text-center">
                                        <button ng-click="removeTrip($index)" type="button" class="btn btn-default centered">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!--<div>-->
                <!--<button type="button" class="btn btn-default" ng-click="isCollapsedfollowers = !isCollapsedfollowers">Followers</button>-->
                <!--<hr>-->
                <!--<div uib-collapse="isCollapsedfollowers">-->
                    <!--<div class="well well-lg">All Followers</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div>-->
                <!--<button type="button" class="btn btn-default" ng-click="isCollapsedfollowing = !isCollapsedfollowing">Following</button>-->
                <!--<hr>-->
                <!--<div uib-collapse="isCollapsedfollowing">-->
                    <!--<div class="well well-lg">All Following</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Keep in touch?</h2>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                            <input class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <input class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-danger btn-block btn-lg btn-fill">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div  ng-include src="'./views/footer/footer.view.html'">

</div>


