<nav class="navbar navbar-relative rnavbar-ct-transparent" role="navigation-demo" id="register-navbar">
    <div ng-include src="'/project56/client/views/header/header.view.html'">

    </div>

</nav>
<div class="wrapper">
    <div class="profile-background">
        <div class="filter-black"></div>
    </div>
    <div class="profile-content section-nude">
        <div class="container">
            <div class="row owner">
                <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                    <div class="avatar">
                        <img src="/project56/client/views/assets/paper_img/chet_faker_2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                    <div class="name">
                        <h4>{{user.username}}<br/>
                            <small>{{user.firstname}}</small><small>&nbsp;</small><small>{{user.lastname}}</small></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p>An artist of considerable range, Chet Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <p>{{user.aboutme}}</p>
                    <br />
                    <btn ng-click="userEdit()" class="btn"><i class="fa fa-cog"></i> Edit</btn>

                    <div ng-if="userdetailsedit">
                        <br>
                            <table class="table table-bordered">
                                <thead>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>First Name</td>

                                    <td>
                                        <input type="text"  class="form-control" ng-model="user.firstname">
                                    </td>

                                </tr>
                                <tr>
                                    <td>last Name</td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="user.lastname">
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <button ng-click="saveUserEdit(user)" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>

                                        <button ng-click="cancelEdit()" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div>
                <button type="button" class="btn btn-default" ng-click="isCollapsedtrips = !isCollapsedtrips">My Trips</button>
                <hr>
                <div uib-collapse="isCollapsedtrips">
                    <div class="well well-lg">
                        <tr>
                            <button ng-click="addTrip()" type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon" aria-hidden="true"></span> Add New Trip
                            </button>

                            <button ng-click="addTrip()" type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon" aria-hidden="true"></span> Delete Selected Trip
                            </button>
                        </tr>
                        <div ng-repeat="trip in trips">
                            <table class="table table-bordered">
                                <thead></thead>
                                <tbody>
                                <tr>
                                    <td>{{trip.title}}</td>
                                    <td>{{trip.content}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-default" ng-click="isCollapsedfollowers = !isCollapsedfollowers">Followers</button>
                <hr>
                <div uib-collapse="isCollapsedfollowers">
                    <div class="well well-lg">All Followers</div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-default" ng-click="isCollapsedfollowing = !isCollapsedfollowing">Following</button>
                <hr>
                <div uib-collapse="isCollapsedfollowing">
                    <div class="well well-lg">All Following</div>
                </div>
            </div>
        </div>
    </div>
</div>
