<footer class="footer-demo section-nude" style="background-color: black">
    <div class="container">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://www.northeastern.edu/">
                        Northeastern University
                    </a>
                </li>
                <li>
                    <a href="http://www.northeastern.edu/admissions/campus-life/student-blogs/">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="http://www.creative-tim.com/product/rubik">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2015, made with <i class="fa fa-heart heart"></i> by Nischay Maridevegowda
        </div>
    </div>
</footer>
