<h1 class="page-header">Forms</h1>
<!--start of tab area-->
<ul class="nav nav-tabs">
    <li><a href="#/forms">Forms</a></li>
    <li class="active"><a href="#/form-fields">Fields</a></li>
</ul>

<div class="tab-content table-bordered">
    <div class="tab-pane active padding-10px">
        <form>
            <button type="submit" ng-click="saveForm()">Save form</button>
            <button type="submit" ng-click="cancelField()">Cancel form</button>
            <table class="table no-top-border">
                <!--form table-->
                <thead>
                <tr>
                    <td>
                        <p>Add New Field :</p>
                        <select ng-model="fieldType" ng-options="field.type as field.label for field in availableFields" class="form-control">
                        </select>
                    </td>
                        <td class="text-center table-content-center_25">
                        <div>
                            <button ng-click="addField(fieldType)" type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody class="table">
                    <!--<tr><td>CURRENT FIELDS: {{currFields | json}}</td></tr>-->
                    <!--<tr><td>fill the details below</td></tr>-->

                    <tr ng-repeat="field in currFields">
                    <td ng-switch="field.type">
                        <div ng-switch-when="TEXT">
                            Create a label for your text
                            <input type="text" ng-model="field.label">
                            Create a placeholder for your text
                            <input type="text" ng-model="field.placeholder">
                        </div>
                        <div ng-switch-when="TEXTAREA">
                            Create a label for your textarea
                            <input type="text" ng-model="field.label">
                            Create a placeholder for your textarea
                            <input type="text" ng-model="field.placeholder">
                        </div>
                        <div ng-switch-when="EMAIL">
                            Create a label for your email field
                            <input type="text" ng-model="field.label">
                            Create a placeholder for your email field
                            <input type="text" ng-model="field.placeholder">
                        </div>

                        <div ng-switch-when="DATE">
                            Create a label for your DATE
                            <input type="text" ng-model="field.label">

                            <input type="date" ng-model="field.placeholder">
                        </div>

                        <div ng-switch-when="OPTIONS">
                            Create a label for your DropDown
                            <input type="text" ng-model="field.label">
                            <ul>
                                <li style="padding: 10px" ng-repeat="option in field.options">
                                option name
                                <input type="text" ng-model="option.label">
                                optionvalue
                                <input type="text" ng-model="option.value">
                                </li>
                            </ul>
                            <button type="button" ng-click="addOption(field)" class="btn-default"> add options </button>
                        </div>

                        <div ng-switch-when="CBOX">
                            Create a label for CheckBox
                            <input type="text" ng-model="field.label">
                            <ul>
                                <li style="padding:10px" ng-repeat="option in field.options">
                                    option name
                                    <input type="text" ng-model="option.label">
                                    option value
                                    <input type="text" ng-model="option.value">
                                </li>
                            </ul>
                            <button type="button" ng-click="addOption(field)" class="btn-default"> add options </button>
                        </div>

                        <div ng-switch-when="RADIO">
                            Create a label for Radio
                            <input type="text" ng-model="field.label">
                            <ul>
                                <li style="padding:10px" ng-repeat="option in field.options">
                                    option name
                                    <input type="text" ng-model="option.label">
                                    option value
                                    <input type="text" ng-model="option.value">
                                </li>
                            </ul>
                            <button type="button" ng-click="addOption(field)" class="btn-default"> add options </button>
                        </div>

                    </td>

                </tr>

                    <tr>
                        <td colspan="2">
                            <hr style=" color:black; height:4px; background-color:black" />
                        </td>
                    </tr>

                </tbody>
            </table>
        </form>

        <table class="table">
            <thead>
            <tr>
                <td>PREVIEW</td>
                {{form.title}}
            </tr>
            </thead>
            <!--{{displayFields}}-->
            <tbody >
                <tr ng-repeat="field in displayFields">
                    <td ng-switch="field.fieldtype">
                        <div ng-switch-when="TEXT">
                            {{field.label}}
                        <!--<label ng-bind="field.placeholder">-->
                            <input type="text" placeholder="{{field.placeholder}}" class="form-control">
                        <!--</label>-->
                        </div>
                        <div ng-switch-when="TEXTAREA">
                            {{field.label}}
                            <input type="text" placeholder="{{field.placeholder}}" class="form-control" >

                        </div>

                        <div ng-switch-when="EMAIL">
                            {{field.label}}
                            <input type="email" placeholder="{{field.placeholder}}" class="form-control" >
                        </div>

                        <div ng-switch-when="DATE">
                            DATE :{{field.label}}
                            <input type="date" placeholder="{{field.placeholder | date}}" class="form-control" >
                        </div>

                        <div ng-switch-when="OPTIONS">
                            {{field.label}}
                            <select class="form-control">
                                <option>&nbsp;</option>
                                <option ng-repeat="option in field.options">{{option.label}}</option>
                            </select>
                        </div>
                        <div ng-switch-when="RADIO">
                            {{field.label}}
                            <div ng-repeat="option in field.options">
                                <label class="radio-inline">
                                    <input  type="radio" name="{{field.label}}" value="{{option.value}}">
                                    {{option.label}}
                                </label>
                            </div>
                        </div>
                        <div ng-switch-when="CBOX"  class="checkbox">
                            {{field.label}}
                            <div ng-repeat="option in field.options">
                                <label>
                                    <input  type="checkbox" value="{{option.value}}">
                                    {{option.label}}
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="text-center table-content-center_25">
                        <div>&nbsp;</div>
                        <button type="button" class="btn btn-default" aria-label="Right Align">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Right Align">
                            <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
                        </button>
                        <button ng-click="removeField($index)" type="button" class="btn btn-default" aria-label="Right Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>