<h1 class="page-header">Forms</h1>
<!--start of tab area-->
<ul class="nav nav-tabs">
    <li><a href="#/forms">Forms</a></li>
    <li class="active"><a href="#/form-fields">Fields</a></li>
</ul>

<div class="tab-content table-bordered">
    <div class="tab-pane active padding-10px">
        <form>
            <table class="table no-top-border">
                <!--form table-->
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <td>
                            First Name
                            <input placeholder="First Name" type="text" class="form-control" />
                        </td>
                        <td class="text-center table-content-center_25">
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Name
                            <input placeholder="Last Name" type="text" class="form-control" />
                        </td>
                        <td class="text-center table-content-center_25">
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Date Of Birth</p>
                            <input type="date" class="form-control" />
                        </td>
                        <td class="text-center table-content-center_25">
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr class="rowlink">
                        <td>
                            <p>Gender</p>
                            <select class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </td>
                        <td class="text-center table-content-center_25">
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Roles :</p>
                            <div class="checkbox">
                                <div>
                                    <label>
                                        <input type="checkbox"> Admin
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox"> Student
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox"> User
                                    </label>
                                </div>
                            </div>
                        </td>
                        <!--td class="text-center table-content-center" style="padding:40px"-->
                        <td class="text-center table-content-center_40">
                            <div>
                                <button type="button" class="btn btn-default" aria-label="Right Align">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Right Align">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Right Align">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>License Agreement</p>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
                                </label>
                            </div>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                                </label>
                            </div>
                        </td>
                        <td class="text-center table-content-center_25">
                            <div>
                                <button type="button" class="btn btn-default" aria-label="Right Align">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Right Align">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Right Align">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr style=" color:black; height:4px; background-color:black" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Add New Field :</p>
                            <select ng-model="model.fieldType" class="form-control">
                                <option>Single Line Text</option>
                                <option>Date</option>
                                <option>Dropdown</option>
                                <option>Checkbox</option>
                                <option>Radio Buttons</option>
                                <option>Paragraph Text</option>
                            </select>
                        </td>
                        <td class="text-center table-content-center_25">
                            <div>
                                <button ng-model="model.addField()" type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>


    </div>
</div>