<nav class="navbar navbar-ct-transparent navbar-fixed-top" role="navigation-demo" id="register-navbar">
    <!--<div class="container">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="www.creative-tim.com">Creative Tim</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="navigation-example-2">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<a href="#" class="btn btn-simple">Components</a>-->
                <!--<a href="#" class="btn btn-simple">Tutorial</a>-->
                <!--<a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a>-->
                <!--<a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container&ndash;&gt;-->


    <div ng-controller="HeaderController" ng-include src="'/project56/client/views/header/header.view.html'">

    </div>

</nav>

<div class="wrapper">
    <div class="register-background">
        <div class="filter-black"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                    <div class="register-card">
                        <h3 class="title">Welcome</h3>
                        <form class="register-form">
                            <label>Email</label>
                            <input ng-model="user.email" type="email" class="form-control" placeholder="Email">

                            <label>Username</label>
                            <input ng-model="user.username" type="text" class="form-control" placeholder="Username">

                            <label>Firstname</label>
                            <input ng-model="user.firstname" type="text" class="form-control" placeholder="Firstname">

                            <label>Lastname</label>
                            <input ng-model="user.lastname" type="text" class="form-control" placeholder="Lastname">

                            <label>City</label>
                            <input ng-model="user.city" type="text" class="form-control" placeholder="city">

                            <label>State</label>
                            <input ng-model="user.state" type="text" class="form-control" placeholder="state">

                            <label>Password</label>
                            <input ng-model="user.password" type="password" class="form-control" placeholder="Password">

                            <label>Re-Enter Password</label>
                            <input ng-model="user.verify_password" type="password" class="form-control" placeholder="Re-Enter Password">


                            <button ng-click="register(user.username,user.password)" class="btn btn-danger btn-block">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer register-footer text-center">
            <h6>&copy; 2015, made with <i class="fa fa-heart heart"></i> by Nischay Maridevegowda</h6>
        </div>
    </div>
</div>
