
<nav class="navbar navbar-default" role="navigation-demo" id="demo-navbar">
    <div ng-include src="'../client/views/header/header.view.html'">

    </div>
</nav>
<div ng-include src="'../client/views/navbar/navbar.view.html'">


</div>
<div class="wrapper">
    <div class="main">
        <div class="section section-dark text-center landing-section    " style="padding-top: 50px">
            <h2>{{trip.title}}</h2>
            <div class="container">
                <div>
                    <div class="pull-left">
                        <div class="team-player pull-left">
                            <img src="../client/views/assets/paper_img/chet_faker_2.jpg" alt="Thumbnail Image" class="img-circle img-responsive">
                            <h5>{{trip.username}}<br /><small class="text-muted">Title</small></h5>
                            <p class="text-justify">{{trip.content}}</p>

                        </div>
                    </div>

                </div>
                <!--<div class="col-md-3">-->
                <!--<div class="team-player">-->
                <!--<img src="../client/views/assets/paper_img/chet_faker_2.jpg" alt="Thumbnail Image" class="img-circle img-responsive">-->
                <!--<h5>Tampa bay <br /><small class="text-muted">Trekking</small></h5>-->
                <!--<p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class="team-player">-->
                        <!--<img src="../client/views/assets/paper_img/flume.jpg" alt="Thumbnail Image" class="img-circle img-responsive">-->
                        <!--<h5>New Hampshire <br /><small class="text-muted">Fall</small></h5>-->
                        <!--<p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class="team-player">-->
                        <!--<img src="../client/views/assets/paper_img/banks.jpg" alt="Thumbnail Image" class="img-circle img-circle img-responsive">-->
                        <!--<h5>Mount batuta <br /><small class="text-muted">Hiking</small></h5>-->
                        <!--<p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class="team-player">-->
                        <!--<img src="../client/views/assets/paper_img/chet_faker_2.jpg" alt="Thumbnail Image" class="img-circle img-responsive">-->
                        <!--<h5>Rhode Island <br /><small class="text-muted">Skiing</small></h5>-->
                        <!--<p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </div>

        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center">Keep in touch?</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <input class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <input class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <button class="btn btn-danger btn-block btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>