<nav class="navbar navbar-default" role="navigation-demo" id="demo-navbar" xmlns="http://www.w3.org/1999/html">
    <div ng-controller="HeaderController" ng-include src="'../client/views/header/header.view.html'">

    </div>
</nav>
<!--<div ng-include src="'../client/views/navbar/navbar.view.html'">-->


<!--</div>-->

<div class="wrapper">
    <div class="main">
        <div class="section section-dark landing-section    " style="padding-top: 50px">
            <h2 class="text-center">{{trip.title}}</h2>
            <div class="container">
                <div>
                    <div>
                        <div class="team-player">
                            <img src="../client/views/assets/paper_img/unnamed.png" alt="Thumbnail Image" class="img-circle img-responsive">
                            <h5 class="text-center"><a href="#/profile/{{trip.userid}}">{{trip.username}}</a><br />
                                <small class="text-muted">{{trip.summary}}</small></h5>
                            <p class="text-center text-justify">{{trip.content}}</p>
                            <!--<p ng-bind="trip.content"></p>-->
                            <!--{{trip.content}}-->

                        </div>
                    </div>

                </div>
                <div>
                    <button ng-if="user._id == trip.userid" ng-click="editTrip()" type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon" aria-hidden="true"></span> Edit
                    </button>
                </div>
                <div ng-if="editTripIsTrue">
                    <tr>
                        <label for="summary" class="pull-left">Edit Summary Here:</label>
                        <input ng-model="newsummary" class="form-control" rows="5" id="summary" placeholder="{{trip.summary}}">
                    </tr>
                    <br>
                    <tr>
                        <label for="comment" class="pull-left">Edit Content Here:</label>
                        <textarea ng-model="newcontent" class="form-control" rows="5" id="comment" placeholder="{{trip.content}}"></textarea>
                    </tr>
                    <br>
                    <tr>
                    <button ng-click="saveTrip(newsummary,newcontent)" type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon" aria-hidden="true"></span> Save
                    </button>
                    <button ng-click="editTrip()" type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon" aria-hidden="true"></span> Cancel
                    </button>
                    </tr>

                </div>
                </br>
                <div>
                    <button type="button" class="btn btn-default" ng-click="isCollapsedfollowers = !isCollapsedfollowers">comments</button>
                    <br>
                    <div ng-if="isCollapsedfollowers">
                        <div >
                            <br>
                            <tr>
                                <button ng-if="user.logged" ng-click="addComment()" type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon" aria-hidden="true"></span> New Comment
                                </button>

                            </tr>
                            <div ng-if="addNewComment">
                                <tr>
                                    <div>
                                        <label>Comment:</label>
                                        <textarea ng-model="newcomment" class="form-control" rows="2"></textarea>
                                    </div>
                                </tr>
                                <tr class="col-sm-1">
                                    <br>
                                    <button ng-click="saveComment(newcomment)" type="button" class="btn btn-default" aria-label="Left Align">
                                        <span class="glyphicon" aria-hidden="true"></span>Save
                                    </button>

                                    <button ng-click="cancelComment()" type="button" class="btn btn-default" aria-label="Left Align">
                                        <span class="glyphicon" aria-hidden="true"></span>Cancel
                                    </button>

                                </tr>
                            </div>
                            <tr>
                                <td colspan="2">
                                    <hr style=" color:black; height:4px; background-color:black" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <h4>Comments</h4>
                                </th>
                            </tr>


                            <div>
                                <table class="table table-bordered">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="comment in comments">
                                        <td><a href="#/profile/{{comments[$index].userid}}">{{comment.username}}</a>
                                            <br>{{comment.content}}</td>
                                        <!--<td style="padding-left: 85px">-->
                                            <!--<button ng-click="deleteTrip($index)" type="button" class="btn btn-default centered">-->
                                                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                                            <!--</button>-->
                                        <!--</td>-->
                                    </tr>
                                    </tbody>
                                </table>

                            </div>



                        </div>
                    </div>


                </div>

            </div>

        </div>

        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center">Keep in touch?</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <input class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <input class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <button class="btn btn-danger btn-block btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>