<div>
    <form>
        <div class="row">
            <div class="col-md-2">
                <h4>Username :</h4>
            </div>
            <div class="col-md-6">
                <input ng-model="username" type="text" placeholder="your_id" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Passsword :</h4>
            </div>
            <div class="col-md-6">
                <input ng-model="password" type="password" placeholder="**********" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                <a ng-click="login(username , password)" class="btn btn-default form-control"  role="button">Login</a>
            </div>
        </div>
    </form>
</div>