<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <h1 class="page-header">Welcome !</h1>
    <!--h1> {{hello}}</h1-->

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="../../images/onlineform2.png" class="img-responsive" alt="Image Loading">
            <h4>Students</h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="../../images/onlineform2.png" class="img-responsive" alt="Image Loading">
            <h4>Personal</h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="../../images/onlineform2.png" class="img-responsive" alt="Image Loading">
            <h4>Universities</h4>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="../../images/onlineform2.png" class="img-responsive" alt="Image Loading">
            <h4>Corporate</h4>
        </div>
    </div>


    <div>
        <h2 class="sub-header">It is easy and Simple....!!!!</h2>
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
        </p>
    </div>
</body>
</html>
