<div class="col-md-3 sidebar pull-right" style="background-color:floralwhite ;border-color:gold;">
    <ul class="nav nav-sidebar" style="font-size:16px; height:668px;padding-bottom:20px" >
        <li ng-class="{'active' : $location.url().indexOf('home') != -1} "><a style=" padding-top:20px;padding-bottom:20px" href="#/home">Trending<span class="sr-only">(current)</span></a></li>
        <li ng-if="user.logged" ng-class="{'active' : $location.url().indexOf('profile') != -1}"><a style=" padding-top:20px;padding-bottom:20px" href="#/profile">Escape to the Mountains</a></li>
        <li ng-if="user.logged" ng-class="{'active' : $location.url().indexOf('admin') != -1}"><a style=" padding-top:20px;padding-bottom:20px" href="#/admin">Magic of White Fields</a></li>
        <li ng-if="user.logged" ng-class="{'active' : $location.url().indexOf('forms') != -1}"><a style=" padding-top:20px;padding-bottom:20px" href="#/forms">Hamshire Heavens</a></li>
        <li ng-if="user.logged" ng-class="{'active' : $location.url().indexOf('forms') != -1}"><a style=" padding-top:20px;padding-bottom:20px" href="#/forms">Hamshire Heavens</a></li>
    </ul>
</div>