
<nav class="navbar navbar-default" role="navigation-demo" id="demo-navbar">
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="www.creative-tim.com">TripTorque</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="navigation-example-2">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<a href="#" class="btn btn-simple">Register</a>-->
                <!--<a href="#/profile" class="btn btn-simple">Profile</a>-->
                <!--<a href="#" class="btn btn-simple">Profile</a>-->
                <!--<a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a>-->
                <!--<a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container&ndash;&gt;-->
    <div ng-include src="'../client/views/header/header.view.html'">

    </div>
</nav>
<!--<div class="alert alert-danger landing-alert">-->
<!--<div class="container text-center">-->
<!--<h5>Find all the details you need to make your vacation a truly memorable one ...!!!!!</h5>-->
<!--</div>-->
<!--</div>-->
<div ng-include src="'../client/views/navbar/navbar.view.html'">



</div>
<div class="wrapper">
    <!--<div class="landing-header" style="background-image: url('../client/views/assets/paper_img/cat.jpg');">-->
    <!--<div class="container">-->
    <!--<div class="motto">-->
    <!--<h1 class="title-uppercase">Example page</h1>-->
    <!--<h3>Start designing your landing page here.</h3>-->
    <!--<br />-->
    <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn"><i class="fa fa-play"></i>Watch video</a>-->
    <!--<a class="btn">Download</a>-->
    <!--</div>-->
    <!--</div>    -->
    <!--</div>-->
    <div id="carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../client/views/assets/paper_img/pencils.jpg" alt="Awesome Image">
                    </div>
                    <div class="item">
                        <img src="../client/views/assets/paper_img/shoes.jpg" alt="Awesome Image">
                    </div>
                    <div class="item">
                        <img src="../client/views/assets/paper_img/types.jpg" alt="Awesome Image">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>
        </div> <!-- end carousel -->

        <div class="main">
            <!--<div class="section text-center landing-section">-->
            <!--<div class="container">-->
            <!--<div class="row">-->
            <!--<div class="col-md-8 col-md-offset-2">-->
            <!--<h2>Let's talk product</h2>-->
            <!--<h5>This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>-->
            <!--<br />-->
            <!--<a href="#" class="btn btn-danger btn-fill">See Details</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>  -->
            <!---->
            <!--<div class="section section-light-brown landing-section">-->
            <!--<div class="container">-->
            <!--<div class="row">-->
            <!--<div class="col-md-4 column">-->
            <!--<h4>First Attribute</h4>-->
            <!--<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>-->
            <!--<a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>-->
            <!--</div>-->
            <!--<div class="col-md-4 column">-->
            <!--<h4>Second Attribute</h4>-->
            <!--<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>-->
            <!--<a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>-->
            <!--</div>-->
            <!--<div class="col-md-4 column">-->
            <!--<h4>Third Attribute</h4>-->
            <!--<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>-->
            <!--<a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <div class="section section-dark text-center landing-section" style="padding-top: 50px">
                <div class="container-fluid">
                    <h2>Here are the hot topics</h2>
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="../client/views/assets/paper_img/chet_faker_2.jpg" alt="Thumbnail Image" class="img-circle img-responsive">
                            <h5>Tampa bay <br /><small class="text-muted">Trekking</small></h5>
                            <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="../client/views/assets/paper_img/flume.jpg" alt="Thumbnail Image" class="img-circle img-responsive">
                            <h5><a href="#/details">New Hampshire</a> <br /><small class="text-muted">Fall</small></h5>
                            <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="../client/views/assets/paper_img/banks.jpg" alt="Thumbnail Image" class="img-circle img-circle img-responsive">
                            <h5>Mount batuta <br /><small class="text-muted">Hiking</small></h5>
                            <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="../client/views/assets/paper_img/chet_faker_2.jpg" alt="Thumbnail Image" class="img-circle img-responsive">
                            <h5>Rhode Island <br /><small class="text-muted">Skiing</small></h5>
                            <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="section landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center">Keep in touch?</h2>
                            <form class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                        <input class="form-control" placeholder="Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <input class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <label>Message</label>
                                <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button class="btn btn-danger btn-block btn-lg btn-fill">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>