<h1 class="header_2">Register</h1>
<div>
    <form>
        <div class="row">
            <div class="col-md-2">
                <h4>Username :</h4>
            </div>
            <div class="col-md-6">
                <input ng-model="model.username" type="text" placeholder="your_id" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Password :</h4>
            </div>
            <div class="col-md-6">
                <input ng-model="model.password" type="password" placeholder="**********" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Verify Password :</h4>
            </div>
            <div class="col-md-6">
                <input ng-model="model.verifypassword" type="password" placeholder="**********" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Email :</h4>
            </div>
            <div class="col-md-6">
                <input ng-model="model.email" type="email" placeholder="your_id@domain.com" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>  
            <div class="col-md-6">
                <a ng-click="model.register()" class="btn btn-default form-control"  role="button">Register</a>
            </div>
        </div>

    </form>
</div>