<h1 class="header_2">Register</h1>
<div>
    <form>
        <div class="row">
            <div class="col-md-2">
                <h4>Username :</h4>
            </div>
            <div class="col-md-6">
                <input ng-model="username" type="text" placeholder="your_id" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Password :</h4>
            </div>
            <div class="col-md-6">
                <input ng-model="password" type="password" placeholder="**********" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Verify Password :</h4>
            </div>
            <div class="col-md-6">
                <input ng-model="verifypassword" type="password" placeholder="**********" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Email :</h4>
            </div>
            <div class="col-md-6">
                <input ng-model="email" type="email" placeholder="your_id@domain.com" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>  
            <div class="col-md-6">
                <a ng-click="login(username , password , verifypassword , email )" class="btn btn-default form-control"  role="button">Register</a>
            </div>
        </div>
        {{users}}
    </form>
</div>