<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/home">TripTorque</a>
    </div>

<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation-example-1">
        <ul class="nav navbar-nav navbar-right">
            <a href="#/home" class="btn btn-simple">Home</a>
            <a href="#/register" class="btn btn-simple">Register</a>
            <a href="#/login" class="btn btn-simple">Login</a>
            <a href="#/profile" class="btn btn-simple">Profile</a>
            <a href="http://www.facebook.com" target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>
        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-->
