<!--<div class="container-fluid">-->
<!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--<div class="navbar-header">-->
        <!--&lt;!&ndash;<button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="btn btn-navbar navbar-toggle">&ndash;&gt;-->
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-1">-->
        <!--&lt;!&ndash;<button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">&ndash;&gt;-->

        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <!--<a class="navbar-brand" href="#/home">TripTorque</a>-->
    <!--</div>-->

<!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->

    <!--&lt;!&ndash;<div class="collapse navbar-collapse" uib-collapse="navbarCollapsed">&ndash;&gt;-->
    <!--<div class="collapse navbar-collapse" id="navigation-example-1">-->

    <!--<ul class="nav navbar-nav navbar-right">-->
            <!--&lt;!&ndash;<a href="#/home" class="btn btn-simple">Home 123</a>&ndash;&gt;-->
            <!--<a href="#/register" class="btn btn-simple">Register</a>-->
            <!--<a href="#/login" class="btn btn-simple">Login</a>-->
            <!--<a ng-if="user.logged" href="#/profile/user._id" class="btn btn-simple">Profile</a>-->
            <!--<a ng-if="user.logged" ng-click="logout()" href="#/home" class="btn btn-simple">Logout</a>-->

            <!--&lt;!&ndash;<a href="#/profile" class="btn btn-simple">Profile</a>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<a href="http://www.facebook.com" target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>&ndash;&gt;-->
        <!--</ul>-->
    <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.container&ndash;&gt;-->


<!--old one till here-->

<!--<nav class="navbar navbar-default" role="navigation-demo" id="demo-navbar">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="www.creative-tim.com">Creative Tim</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="navigation-example-2">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<a href="#/login" class="btn btn-simple">login</a>-->
                <!--<a href="#/register" class="btn btn-simple">register</a>-->
                <!--<a href="#/profile" class="btn btn-simple">profile</a>-->
                <!--<a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a>-->
                <!--<a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container&ndash;&gt;-->
<!--</nav>-->


<!--<nav class="navbar navbar-default" role="navigation-demo" id="demo-navbar">-->


    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button ng-click="updatenav()" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#/home">TripTorque</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
       <!--<div class="collapse navbar-collapse">-->

            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--&lt;!&ndash;<a href="#/home" class="btn btn-simple">Home 123</a>&ndash;&gt;-->
                <!--<li><a ng-if="!user.logged" href="#/register" class="btn btn-simple">Register</a></li>-->
                <!--<li><a ng-if="!user.logged" href="#/login" class="btn btn-simple">Login</a></li>-->
                <!--<li><a ng-if="user.logged" href="#/profile/{{user._id}}" class="btn btn-simple">Profile</a></li>-->
                <!--<li><a ng-if="user.logged" ng-click="logout()" href="#/home" class="btn btn-simple">Logout</a></li>-->
                <!--<li><a href="#/documentation" class="btn btn-simple">Documentation</a></li>-->
                <!--<li><a href="#/search" class="btn btn-simple">How to Reach</a></li>-->

                <!--&lt;!&ndash;<li><input ng-model="searchstring" type="text" placeholder="search" style="border: solid 1px;margin-top:10px " class="form-control"></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><button class="btn btn-simple glyphicon glyphicon-search" ng-click="search(searchstring)"></span></button></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="navbar-btn">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a ng-click="search(searchstring)" class="btn btn-default">I'm a link button!</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->

                <!--&lt;!&ndash;<a href="#/profile" class="btn btn-simple">Profile</a>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<a href="http://www.facebook.com" target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>&ndash;&gt;-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container&ndash;&gt;-->
<!--</nav>-->




<!--working with default-->
<nav class="navbar navbar-default" style="margin-bottom: 0px">


    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">TripTorque</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">

            <ul class="nav navbar-nav navbar-right">
                <!--<a href="#/home" class="btn btn-simple">Home 123</a>-->
                <li><a ng-if="!user.logged" href="#/register" class="btn btn-simple">Register</a></li>
                <li><a ng-if="!user.logged" href="#/login" class="btn btn-simple">Login</a></li>
                <li><a ng-if="user.logged" href="#/profile/{{user._id}}" class="btn btn-simple">Profile</a></li>
                <li><a ng-if="user.logged" ng-click="logout()" href="#/home" class="btn btn-simple">Logout</a></li>
                <li><a href="#/documentation" class="btn btn-simple">Documentation</a></li>
                <li><a href="#/search" class="btn btn-simple">How to Reach</a></li>

                <!--<li><input ng-model="searchstring" type="text" placeholder="search" style="border: solid 1px;margin-top:10px " class="form-control"></li>-->
                <!--<li><button class="btn btn-simple glyphicon glyphicon-search" ng-click="search(searchstring)"></span></button></li>-->
                <!--<li>-->
                <!--<p class="navbar-btn">-->
                <!--<a ng-click="search(searchstring)" class="btn btn-default">I'm a link button!</a>-->
                <!--</p>-->
                <!--</li>-->

                <!--<a href="#/profile" class="btn btn-simple">Profile</a>-->
                <!--&lt;!&ndash;<a href="http://www.facebook.com" target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a>&ndash;&gt;-->
                <!--<a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
</nav>

